body {
    background: rgb(2,0,36);
background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(74,207,80,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(74,207,80,1) 100%);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(74,207,80,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#4acf50",GradientType=1);
}